/* Aquí irá todo lo referente a la barra de navegación*/

#container-navbar {
    background-color: $backgroundColorPrimary;
}

/*
.container-nav-components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

//Container que almacena a los links
.containerNavItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;

    > .active {
        background-color: $fontColorMain;
        border-radius: 4px;
        color: #000000;
    }
}

.nav-item {
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        border-radius: 4px;
        background-color: $fontColorMain;
        color: #000000;
    }
}
