.container-index {
    width: 100%;
    //height: 1600px;
    background-image: url(../images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------ WhastApp ------ */
.appWhatsapp {
    position: fixed;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    right: 15px;
    bottom: 100px;
    z-index: 994;
    background-color: $fontColorMain;
    transition: display 0.5s ease-in-out;

    img {
        position: absolute;
        width: 80%;
        height: auto;
        top: 5px;
        left: 7px;
    }
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
    position: fixed;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    right: 15px;
    bottom: 30px;
    z-index: 994;
    background-color: $fontColorMain;
    transition: display 0.5s ease-in-out;

    i {
        font-size: 30px;
        position: absolute;
        top: 6px;
        left: 7px;
    }
}

.arrow-up {
    height: 40px;
}
