/*Aquí vamos a poner todo lo referente a la adaptación responsive del sitio */

/** Barra de Navegación **/
@media screen and (max-width: 992px) {
    /* ------ Barra de Navegación ------ */
    .containerNavItems {
        flex-direction: column;
    }

    .containerNavAll {
        justify-content: end;
        margin-right: 10px;
    }

    .nav-item {
        display: block;
        margin: 10px 0;
        padding: 10px 0;
        width: 100%;
    }

    /* -------- Productos --------*/
    .containerImages{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* ------ Sobre Nosotros ------ */
    .containerDescription {
        p {
            padding-right: 0;
        }
    }

    /* ------ Preguntas Frecuentes ------ */
    .faqItem {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    /* ------ WhastApp ------ */
    .appWhatsapp {
        width: 46px;
        height: 46px;

        img {
            width: 75%;
        }
    }

    /* ------ flecha para volver arriba ------ */
    .back-to-top {
        width: 46px;
        height: 46px;

        i {
            top: 2px;
            left: 2px;
        }
    }

    .arrow-up {
        height: 42px;
    }

    /* ------ Sobre Nosotros ------ */
    .containerDescription {
        h2 {
            font-size: 3em;
        }

        p {
            font-size: 30px;
        }
    }

        /*  -------- Productos ---------*/

        #products{
            h2{
                font-size: 3em;
            }
    
            .card{
                h3{
                    font-size: 3em;
                }
            }
        }

    /* ------ Preguntas Frecuentes ------ */
    .containerFaq {
        h2 {
            font-size: 3em;
        }
    }
}

@media screen and (max-width: 450px) {
    /* ------ Sobre Nosotros ------ */
    .containerDescription {
        p {
            font-size: 22px;
        }
    }

         /* ------ Contacto ------ */
         .contact{
            h2{
                font-size: 2em;
            }
         }
    
         #contactInfo{
            a{
                font-size: 1em;
            }
         }
}

@media screen and (max-width: 300px) {
    /* ------ Sobre Nosotros ------ */
    .containerDescription {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 18px;
        }
    }

    /*  -------- Productos ---------*/

    #products{
        h2{
            font-size: 2em;
        }

        .card{
            h3{
                font-size: 2em;
            }
        }
    }


    /* ------ Preguntas Frecuentes ------ */
    .containerFaq {
        h2 {
            font-size: 2em;
        }

        .faqInfo {
            h3 {
                font-size: 20px;
            }
        }

        .faqImg {
            img {
                width: 100%;
            }
        }
    }

     /* ------ Contacto ------ */
     .contact{
        h2{
            font-size: 2em;
        }
     }

     #contactInfo{
        a{
            font-size: 1em;
        }
     }
}
