/* Aquí vamos a poner las variables que iremos utilizando a lo largo del proyecto */

$backgroundColorPrimary: #f9f7f2; //Color Fondo
$backgroundColorSecondary: #f5f2ee; //Color Fondo Acento
$fontColorMain: #f6d308; //Color Principal
