@charset "UTF-8";
/* Aquí vamos a poner valores generales, como por ejemplo las etiquetas body, h1, etc... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}
